/*TODO: Add styles here */

.StudentHeader{

    font-size: 3rem;
    display: block;
    width: 100%;
    height: 6rem;
    border-bottom: 1rem;
    background-color: #E0E0E0;

}

.SeniorHeader{

    font-size: 2rem;
    display: block;
    width: 100%;
    height: 8rem;


}

.GenericHeader{

    font-size: 3rem;
    display: block;
    width: 100%;
    height: 3rem;;

}
.HeaderNav {

    display: block;
    float: right;
}
.HeaderLogIn {

    position: absolute;
    right: 20px;
    top: 0;

}

.StartPageImage{
    border-radius: 50%;
    width:200px;
    height:130px;
}

.ContinueButton{
    background: green;
    color: white;
    margin-bottom: 20px;
    width: 200px;
    height: 40px;
    font-size : 20px;
}

.wrapper_continue {
    text-align: center;
    align-items: center;
}

.HeaderReadOut{
    height: 2em;
    display: flex;
    align-items: center;
    justify-content: center;
    float: bottom;
}
.SHButton{
    font-size: 18px;
    margin-left: 3px;
    border: none;
    background: none;

}
.SignInButton{
    font-size: 20px;
    margin-left: 1rem;
    border: none;
    background: none;

}
.logo{
    height: 5rem;
    float: left;
}

.firstLine {
    display: block;
    width: 100%;
}

.secondLine {
    display: block;
    width: 100%;
}

div.md-grid{
    display: flex;
    align-items: center;
    justify-content: center;
}

div.firstLine{
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}
#submit {
    background-color: blue;
    color: white;
}

div.firstLine span{
    display: table-cell;
    text-align: center;
}

div.firstLine span:first-child {
    text-align: left;
}
div.firstLine span:last-child {
    text-align: right;
}

div.secondLine{
    display: table;
    width: 100%;
    table-layout: fixed;    /* For cells of equal size */
}

div.secondLine span{
    display: table-cell;
    text-align: center;
}