/*TODO: Add styles here */

.StudentHeader{

    font-size: 3rem;
    display: block;
    width: 100%;
    height: 6rem;
    border-bottom: 1rem;
    background-color: #E0E0E0;

}
.HeaderNav{

display: block;
float: right;

}
.SHButton{
    font-size: 18px;
    margin-left: 3px;
    border: none;
    background: none;
    vertical-align: middle;

}
.logo{
    display: block;
    height: 5rem !important;
    float: left;
}